<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>
    <header class="navbar navbar-expand-lg text-white">
        <a class="navbar-brand" style="font-style: ;">The Movie App</a>
        <ul class="navbar-nav mr-auto">
            {{#if session.authenticated}}
            <li class="nav-item">
                <a class="nav-link text-white" href="/api/moviesForm">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/api/movies/sign-out">Sign out</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link text-white" href="/api/movies/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/api/movies/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </header>
    <div class="{{#if movies}}body-container{{else}}container{{/if}} mt-5">
        {{{body}}}
    </div>
    <footer>
        <p>&#169;2022 Swapnil Roy Chowdhury | Sayani Pal</p>
    </footer>
</body>

</html>