body {
  padding: 0%;
  margin: 0%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

header {
  padding: 1.5% !important;
  padding-left: 50px;
  width: 100%;
  background: blueviolet;
  color: white;
  font-size: 18px;
}

.body-container {
  padding: 60px;
}

img {
  width: 100%;
}

.oos {
  background: red;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 1%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

table {
  display: block;
  overflow-x: auto;
}