<form method="GET" action="/api/movies">
    Page Number <br><input type="number" name="pageNum" placeholder="Enter Page Number"><br/><br/>
    Content Per page <br><input type="number" name="perPage" placeholder="Enter Content Per Page"><br/><br/>
    Title<br><input type="text" name="title" placeholder="Enter Title"><br/><br/>
    
    <button type="submit">Enter</button>
</form>